@import "./variables";

.location-content-container {
    padding: 0 1rem 0 1rem;
    border: solid black 2px;
    border-radius: 1rem;
    background-color: white;
    margin-bottom: 1rem;
}

.collectible-padding {
    padding: 0 1rem 0 1rem;
}

.location-container {
    width: 95%;
    border: 2px solid black;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: lightgray;
    padding: 0 0 1rem 0;
}

// .list-container{
//     width: 95%;
//     border: 2px black solid;
//     border-radius: 1rem;
// }
