.mon-container-expanded{
    height: 10rem;
}

.dex-top-bar{
    height: 5rem;
    // background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.increment-container{
    height: 100%;
    width: 33%;
    display: flex;  
    justify-content: center;
    align-items: center;
    // flex-direction: column;
}

.dex-sprite {
    height: 64px;
    width: auto;
}

.dex-padding {
    padding: 0rem 2rem 0rem 2rem;
    border-bottom: 2px solid black;
}

.display-portrait {
    width: 80%;
    height: auto;
}

.portrait-container {
    position: relative;
    text-align: center;
}

.portrait-container h1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.display-scroll {
    overflow: scroll;
}

.ability-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
}

.display-type {
    width: 45%;
    height: auto;
}

.form-select-sprite {
    height: 60%;
    width: auto;
}

.dex-nav-sprite {
    height: 90%;
    width: auto;
}

.form-sprite-container {
    height: 100%;
    width: 100%;
}

.selected-form {
    background-color: aquamarine;
}

.ability-box {
    border: 3px black solid;
    width: 95%;
    border-radius: 75px;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.chart-bar {
    height: 30px;
    margin-top: 1rem;
}

.chart-margins {
    margin-left: 10%;
    margin-top: 2rem;
}

.label-container-margins {
    margin-top: 5px;
    margin-right: 1rem;
}

.chart-base {
    height: 290px;
    width: 2px;
    background-color: black;
}