.mon-container-expanded {
    height: 10rem;
}

.mon-top-bar {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 9;
    background-color: white;
    border-bottom: 2px solid black;
}

.increment-container {
    height: 100%;
    // width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem 0rem 1rem;
}

.dex-sprite {
    height: 64px;
    width: auto;
    z-index: 1;
    position: absolute;
}

.icon-container {
    position: relative;
    text-align: center;
}

.dex-padding {
    padding: 0rem 2rem 0rem 2rem;
    border-bottom: 2px solid black;
}

.mon-content {
    padding-top: 5rem;
}

.display-portrait {
    width: 25rem;
    height: auto;
}

.portrait-container {
    position: relative;
    text-align: center;
    width: 100%;
}

.portrait-container h1 {
    position: absolute;
    top: 0;
    left: 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
    margin: 0rem 0rem 0rem 0rem;
}

.display-scroll {
    overflow: scroll;
}

.ability-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // align-items: center;
    width: 90%;
}

.display-type {
    width: 45%;
    height: auto;
}

.form-select-sprite {
    height: 5rem;
    width: auto;
}

.dex-nav-sprite {
    height: 90%;
    width: auto;
}

.form-sprite-container {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 0 0 1rem 1rem;
}

.selected-form {
    background-color: white;
    border-top: 2px solid white;
}

.unselected-form {
    background-color: lightgray;
}

.form-select-line {
    height: 2px;
    width: 100%;
    background-color: black;
    // position: fixed;
    z-index: -1;
}

.ability-box {
    border: 3px black solid;
    width: 95%;
    border-radius: 75px;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.chart-bar {
    height: 30px;
    margin-top: 1rem;
}

.chart-margins {
    margin-left: 10%;
    margin-top: 2rem;
}

.label-container-margins {
    margin-top: 5px;
    margin-right: 1rem;
}

.chart-base {
    height: 290px;
    width: 2px;
    background-color: black;
}
