$top-bar-height: 80px;
$font-size: 25px;

.top-bar {
    height: $top-bar-height;
    background-color: lightgray;
    position: fixed;
    left: 0;
    z-index: 10;
    border-bottom: 3px solid black;
    width: 100vw;
    @media only screen and (max-width: 1536px) {
        width: 100%;
    }
}

.top-bar-padding {
    padding-top: $top-bar-height;
}

.links-container {
    display: flex;
    align-items: center;
}

.home-icon {
    font-size: $font-size;
    margin-left: 1.5rem;
}

.menu-topbar {
    font-size: $font-size;
    margin-right: 2rem;
}

.menu-topbar a {
    text-decoration: none;
    color: black;
}

.top-bar-link {
    margin-right: 1rem;
}
.top-bar-link b {
    color: black;
}

.top-bar-selected b {
    color: darkgray;
}