$top-bar-height: 80px;

.top-bar {
    height: $top-bar-height;
    width: 100vw;
    background-color: lightgray;
    position: fixed;
    z-index: 10;
    border-bottom: 3px solid black;
}

.content-padding {
    padding-top: $top-bar-height;
}